body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

input, button {
    padding: 8px;
    margin: 5px 0;
}
